@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
.links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(5deg, #fff3fc, #e9f6fe);
	z-index: 99;
	width: 100vw;
	box-shadow: 0px 0px 30px rgb(255, 246, 253);
}
.links img {
	-webkit-user-drag: none;
	transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.links img:hover {
	transform: scale(1.2);
	/* rotate: -1deg; */
}

.content {
    margin-top: 80px;
    padding: 30px;
    padding-left: 80px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.subject-heading {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 2.5rem;
    color: black;
    display: flex;
    background: linear-gradient(5deg, #fff3fc, #e9f6fe);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}
.chapter-heading {
    font-family: 'Roboto Slab', serif;
    
    font-size: 1.5rem;
    color: black;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    list-style: disc;
    text-decoration: none !important;
    padding: 5px;
}
.chapter-heading:hover {
    color: rgb(129, 147, 217);
}
.sub-heading {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 2.2rem;
    color: black;
}
.text {
    user-select: none;
    -webkit-user-select: none;
}
a {
    text-decoration: underline;
    text-decoration-color: rgba(129, 147, 217, 0.4);
}