<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopperHQ™ - English (10)</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\hp\Documents\TopperHQ\static\css\class10.css">

</head>
<body>
    <header>
        <br>
        <table class="links">
          <tr><td class="link"><a href="Landing page.html"><img src="Home.png" height="27" width="30"></a></td><td class="link"><a href="Books.html"><img src="book-removebg-preview.png" height="40" width="25"></td><td class="link"><a href="Notes.html"><img src="Notes-removebg-preview.png" height="30" width="23"></a></td><td class="link"><a href=""><img src="Class 10 logo.png" height="30" width="29"></a></td><td class="link"><a href=""><img src="Class 12 logo.png" height="30" width="29"></a></td>
          </tr>
          </table> 
        </header>

        <h1>
            Chapters
        </h1>
        <div class="chapters">
            <ul>
                 <li>fire and ice
            </ul>
        </div>