<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TopperHQ™</title>
  </head>
  <link rel="stylesheet" href="C:\Users\hp\Documents\TopperHQ\static\css\landing page.css">
  <body background="Background.png"> 
    <header>
      <br>
      <table class="links">
        <tr><td class="link"><a href="Landing page.html"><img src="Home-removebg-preview.png" height="30" width="25"></a></td><td class="link"><a href="Books.html"><img src="book-removebg-preview.png" height="40" width="25"></td><td class="link"><a href="Notes.html"><img src="Notes-removebg-preview.png" height="30" width="23"></a></td><td class="link"><a href="class10.html"><img src="Class 10 logo.png" height="30" width="29"></a></td><td class="link"><a href=""><img src="Class 12 logo.png" height="30" width="29"></a></td>
        </tr>
        </table> 
      </header>
    <br>
    <center>
    <section>
      <img class="main" src="Main.png" height="550" width="1200">
    </section>
    </center>
    <br><br>
    </body>
<html>