<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TopperHQ™</title>
  </head>
  <link rel="stylesheet" href="C:\Users\hp\Documents\TopperHQ\static\css\landing page.css">
  <body background="Background.png"> 
    <header>
      <br>
      <table class="links">
        <tr><td class="link"><a href="Landing page.html"><img src="{{url_for('static',filename='img/book.png')}}" height="30" width="25"></a></td><td class="link"><a href="Books.html"><img src="book-removebg-preview.png" height="40" width="25"></td><td class="link"><a href="Notes.html"><img src="Notes-removebg-preview.png" height="30" width="23"></a></td><td class="link"><a href=""><img src="Class 10 logo.png" height="30" width="29"></a></td><td class="link"><a href=""><img src="Class 12 logo.png" height="30" width="29"></a></td>
        </tr>
        </table> 
      </header>
    <br>
    <center>
    <section>
      <img class="main" src="Main.png" height="550" width="1200">
    </section>
    </center>
    <br><br>
    <!--
    <h1>
      About Us </h1><br>
      <h2>
      The website that provides short and 
      elaborate answers for education. Whether 
      you are a student, a teacher, or a curious learner, 
      you can find reliable and comprehensive answers to 
      your questions on various topics and subjects. 

      You can also browse through our database of 
      thousands of questions and answers, or ask 
      your own question and get a personalized 
      response.

      Topper HQ is your ultimate 
      online learning companion. 


      Join us today and discover the joy of learning!
      </h2>-->
  </body>
<html>