<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TopperHQ™</title>
  </head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/Landing Page.css')}}">
  <body style="background-color: white;"> 

      <div class="links">
        <a href="Landing page.html">
          <img src="{{url_for('static', filename='img/Home-removebg-preview.png')}}" height="30" width="25">
        </a>
        <a href="http://127.0.0.1:5000/books">
          <img src="{{url_for('static', filename='img/book-removebg-preview.png')}}" height="40" width="25">
          <a href="Notes.html">
            <img src="{{url_for('static', filename='img/Notes-removebg-preview.png')}}" height="30" width="23">
          </a>
          <a href="http://127.0.0.1:5000/class10">
            <img src="{{url_for('static', filename='img/Class 10 logo.png')}}" height="30" width="29">
          </a>
          <a href="">
            <img src="{{url_for('static', filename='img/Class 12 logo.png')}}" height="30" width="29" style="cursor:not-allowed">
          </a>

      </div> 


    <div class="main-container">
      <img class="main" src="{{url_for('static', filename='img/Main.png')}}" height="550" width="1200" draggable="false">
      <!-- <h1 class="heading">
        Welcome To<br>TopperHQ!
      </h1>
      <p class="follow-up-text">

      </p> -->
    </div>

    <br><br>
    </body>
<html>