<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Answers</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/qna.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body>
    <header>
        <div class="links">
            <a href="http://127.0.0.1:5000/welcome">
              <img src="{{url_for('static', filename='img/Home-removebg-preview.png')}}" height="30" width="25">
            </a>
            <a href="http://127.0.0.1:5000/books">
              <img src="{{url_for('static', filename='img/book-removebg-preview.png')}}" height="40" width="25">
              <a href="Notes.html">
                <img src="{{url_for('static', filename='img/Notes-removebg-preview.png')}}" height="30" width="23">
              </a>
              <a href="http://127.0.0.1:5000/class10">
                <img src="{{url_for('static', filename='img/Class 10 logo.png')}}" height="30" width="29">
              </a>
              <a href="">
                <img src="{{url_for('static', filename='img/Class 12 logo.png')}}" height="30" width="29" style="cursor:not-allowed">
              </a>
    
          </div> 
    </header>
    <div class="content text">
        <h1 class="subject-heading">
            {{chapter_name | title}} Important Question Answers
        </h1>
        <div class="qna-container">
            <ol style="list-style: none;">
                {% for qna in data_qna %}
                    {% if qna['question_text'] == "" %}
                        {% continue %}
                    {% endif %}
                    {% if qna['ans_text'] == "" %}
                        {% continue %}
                    {% endif %}
                    {% if qna['answer_text'] == "" %}
                        {% continue %}
                    {% endif %}
                    {% if qna['question_text'] != "" and (qna['ans_text'] != "" and qna['ans_text'] is not none) or (qna['answer_text'] != "" and qna['answer_text'] is not none) %}
                        
                            <li>
                                <p class="qna-text text mathjax">
                                    <span class="question-text">
                                        {{qna['question_text']}}
                                    </span>
                                    <br>
                                    <br>
                                    <br>
                                    <span class="bold">Answer: </span>
                                    <span class="answer-text">
                                        {{qna['ans_text'] if (qna['ans_text'] | length) > 1 else qna['answer_text']}}<br>
                                    </span>
                                    <br>
                                    <hr class="hr">
                                </p>
                            </li>
                        
                    {% endif %}
                {% endfor %}
            </ol>
            <!-- {{data_qna}} -->
        </div>
    </div>
    <script>
        // MathJax={
        //     tex: {
        //         inlineMath: [['$', '$'], ['\\(', '\\)']]
        //     },
        //     <!-- tex2jax: {inlineMath: [['$', '$']]}, -->
        //    showMathMenu: false,
        //    loader: {load: ['ui/lazy']}
        //};
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$', '$']]},
         showMathMenu: false,
         loader: {load: ['ui/lazy']}
        });
        MathJax.Hub.Queue(['Typeset', MathJax.Hub]);
    </script>
</body>
</html>